body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        ". . . label label"
        "form form form . ."
        ". h1 h1 h1 ."
        ". ul ul ul .";
}

label {
    grid-area: label;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 20px auto;
}

input {
    width: 200px;
    height: 30px;
    margin: 0 10px;
    font-size: 20px;
}

form {
    grid-area: form;
    margin: 20px auto;
}

form button {
    width: 200px;
    height: 35px;
    margin: 0 10px;
    font-size: 20px;
}

h1 {
    grid-area: h1;
    text-align: center;
    margin: 40px;
}

ul {
    grid-area: ul;
    font-size: 30px;
}

li {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: dotted;
    margin-bottom: 10px;
}

li button {
    margin-right: 20px;
    height: 30px;
    font-size: 20px;
}

.invisible {
    display: none;
}